/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}



/* Global styling */

body {
    background-color: #fcf8f2;
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 1.5em;
}

ul {
    list-style-type: none;
}

button.btn-groen {
 background-color: #114d4d;
    border: none;
    color: white;
    padding: 1em 2em;
    border-radius: 5em;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 20px 20px 0 hsla(0, 0%, 83.1%, 1);
}

button.lees-meer {
    background-color: #114d4d;
    border: none;
    color: white;
    padding: 1em 3.5em;
    border-radius: 5em;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

button.lees-meer:hover {
    background-color: #166667;
    transition-duration: 0.4s;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

h1 {
    color: #114d4d;
    font-size: 3.5rem;
    margin-bottom: 0;
    line-height: 1;
    text-align: center;
}

h2 {
    color: #114d4d;
    font-size: 2.25rem;
    line-height: 1;
    margin: 0;
}

h3 {
    color: #49ada1;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}


h4 {
    color: #000000;
    font-size: 1rem;
    font-family: "Poppins";
    font-weight: 500;
}

p {
    color: #114d4d;
    font-size: 1rem;
}


/* Header */

header nav ul {
    display: none;
}


/* Navigatie */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5em;

}

.logo img {
    width: auto;
    height: 2.8em;
}

.hamburger-menu img {
    width: auto;
    height: 1.7em;
}

header ul li {
    display: inline-block;
    padding-left: 20px
}

header ul li a {
    font-weight: 900;
    text-transform: uppercase;
    color: #114d4d;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

.red-eten > img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.download-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.download-btn img {
    width: 120px;
    margin: 1.5em 0.1em;
    width: 7em;
    align-self: center;
}

/* Section Verspilling */

.verspilling {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.verspilling img {
    width: 25em;
    height: auto;
    padding: 2em;

}

.verspilling h2 {
    text-align: center;
    margin-bottom: 1.5em;


}


/* Feiten */

.feiten-wrapper section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

strong {
    font-family: 'Poppins';
    color: #49ada1;
    font-size: 2.25rem;
    text-align: center;
    margin-top: 1em;

}

.feiten-wrapper p {
    font-family: 'Poppins';
    color: #114d4d;
    font-size: 1.15rem;
    font-weight: 500;
    text-align: center;
    margin: 0 2em;

}



/* Artikelen */

.home-artikelen {
    margin: 50px 0;
}

.home-artikelen h2 {
    font-size: 1.9rem;
    margin-top: 20px;
}

.home-artikelen h3 {
    font-size: 1.25rem;
}

.home-artikelen > img {
    border-radius: 1em;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: 0 12px 40px 0 rgba(95, 95, 95, .5);
}

/* Footer */

footer ul a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

footer ul a:hover {
    color: black;
    opacity: 0.5;
    transition-duration: 0.4s;
}

footer ul {
    padding-left: 0;
    text-align: center;
}

footer h4 {
    text-align: center;
}

/* Detailpagina De Movement */

/* Section met de quote */

.quote img {
    width: 15em;
    height: auto;
}

blockquote {
    font-family: 'Poppins';
    font-weight: 500;
    color: #114d4d;
    letter-spacing: .05em;
    margin: auto;
}

.quote p {
    color: #6c757d;
    font-size: .9rem;
    text-transform: uppercase;
    margin-bottom: 5em;
}


.ambitie p:last-of-type {
    font-family: 'Poppins';
    font-weight: 500;
}


/* Articles over pijlers */

.pijlers-item {
    margin-bottom: 5em;
    box-shadow: 0 12px 30px 0 hsla(0, 0%, 83.1%, .5);
}

.pijlers-item:hover {
    margin-bottom: 5em;
    box-shadow: 0 30px 30px 0 hsla(0, 0%, 83.1%, .8);
}

.pijlers-item:nth-of-type(1) {
    background: url(../images/white-door.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 1.5em;
    height: 50vh;
    text-align: center;

}

.pijlers-item:nth-of-type(2) {
    background: url(../images/cutlery.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 1.5em;
    height: 50vh;
    text-align: center;
}

.pijlers-item:nth-of-type(3) {
    background: url(../images/pencils.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 1.5em;
    height: 50vh;
    text-align: center;
}

.pijlers-item:nth-of-type(4) {
    background: url(../images/wereldbol.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 1.5em;
    height: 50vh;
    text-align: center;
}

.pijlers-item h2 {
    color: white;
    text-align: center;
    padding-top: 2em;

}

.pijlers-item h3 {
    color: white;
    font-size: 1.1rem;
    text-align: center;
}



/* Section Alle feiten over voedselverspilling */

.kennisdatabank {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kennisdatabank img {
    width: 16em;
    height: auto;
}

.kennisdatabank h2 {
font-size: 2rem;
    text-align: center;
}

.kennisdatabank h3 {
font-size: 1.25rem;
    text-align: center;
    line-height: 1;
}

.contact img {
    width: 16em;
    height: auto;
}

.contact p {
    font-family: 'Caveat Brush', cursive;
    font-size: 1.3rem;
    text-align: center;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media queries */

@media only screen and (min-width: 720px) {
    .red-eten > img {
        width: 30em;
    }

}

/* Media queries */

@media only screen and (min-width: 960px) {
    .hamburger-menu {
        display: none;
    }
    header {
        margin: 0 auto;
        display: block;
        padding: 0 3em;
    }
    header nav ul {
        display: unset;
    }

    .red-eten > img {
        width: 37em;
    }

    main {
        margin-left: 9em;
        margin-right: 9em;
    }

    .home-artikelen {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .home-artikelen:last-of-type {
        flex-direction: row-reverse;
    }

    .home-artikelen > img {
        width: auto;
        height: 500px;
        object-fit: cover;
    }

    .home-artikelen section {
        padding-left: 50px;
    }
    .home-artikelen:last-of-type section {
        padding-right: 50px;
        padding-left: 0;
    }


    .movement h2 {
        font-size: 4rem;
        text-align: center;
    }

    .movement h3 {
        text-align: center;
    }

    .ambitie p:last-of-type {
        font-family: 'Poppins';
        font-weight: 500;
    }

}

/* Media queries */

@media only screen and (min-width: 1140px) {
    main {
        padding: 4.5em;
    }

    h1 {
        font-size: 6rem;
        margin: 0;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 1.85rem;
    }

    p {
        font-size: 1.2rem;
    }

    .verspilling {
        display: flex;
        flex-direction: row;
    }

    .verspilling h2 {
        margin-top: 1em;
    }

    .feiten-wrapper {
        display: flex;
        flex-direction: row;
    }

    .movement h2 {
        font-size: 4rem;
    }


    .quote {
        display: flex;
        flex-direction: row;
        margin-bottom: 8em;
    }



    blockquote {
        font-size: 1.2em;
        padding-left: 2em;
    }

    .quote p {
        color: #6c757d;
        font-size: .9rem;
        text-transform: uppercase;
    }

    .quote img {
        width: 20em;
        height: auto;
    }


    .ambitie p:last-of-type {
        font-family: 'Poppins';
        font-weight: 500;
    }

    .kennisdatabank {
        display: flex;
        flex-direction: row;
    }

    .kennisdatabank h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    .kennisdatabank h3 {
        font-family: 'Poppins';
        font-size: 1.25rem;
        text-align: center;
    }

    .contact {
        flex-direction: row-reverse;
    }

    .pijlers-item h2 {
    color: white;
    text-align: center;
    padding-top: 1em;

}



}
