/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}



/* Global styling */

body {
    background-color: #fcf8f2;
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 1.5em;
}


ul {
    list-style-type: none;
}

.btn {
    background-color: lightgreen;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;

}

.btn-groen a {
    background-color: #114d4d;
    border-radius: 120px;
    padding: 15px 40px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}

.btn-groen {
    text-align: center;

}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

h1 {
    color: #114d4d;
    font-size: 3.5rem;
    margin-bottom: 0;
    line-height: 1;
    text-align: center;
}

h2 {
    color: #114d4d;
    font-size: 2.25rem;
    line-height: 1;
    margin: 0;
}

h3 {
    color: #49ada1;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}


h4 {
    color: #000000;
}

p {
    color: #114d4d;
    font-size: 1rem;
}

.dikgedrukt {
    font-family: 'Poppins';
    color: #114d4d;
    font-size: 1.15rem;
    font-weight: 500;

}

.cijfers {
    color: #49ada1;
    font-size: 2.25rem;

}

/* Navigatie */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5em;

}

.logo img {
    width: auto;
    height: 2.8em;
}

.hamburger-menu img {
    width: auto;
    height: 1.7em;
}

/*
.navbar ul li {
    display: inline-block;
    padding-left: 20px
}

.navbar ul li a {
    font-weight: 900;
    text-transform: uppercase;
    color: #114d4d;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
*/

/* Header */

/*
.header {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px auto 0 auto;
}
*/

.red-eten img {
    width: 22em;
    align-self: center;
    margin-top: 0px;
}

.download-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.download-btn img {
    width: 120px;
    margin: 1.5em 0.1em;
     width: 7em;
    align-self: center;
}

/* Section Verspilling */

.verspilling {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.verspilling img {
    width: 25em;
    height: auto;
    padding: 2em;

}

.verspilling h2 {
    text-align: center;
    margin-bottom: 1.5em;


}

/* Feiten */

.feiten-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feiten-wrapper h2 {
    text-align: center;
    margin-top: 1em;
}

.feiten-wrapper p {
    text-align: center;
    margin: 0 2em;

}

/* Artikels */

.artikelen h2 {
    font-size: 1.9rem;
}

.artikelen h3 {
    font-size: 1.25rem;
}

.artikel-foto {
    border-radius: 1em;
    align-items: center;
    width: 22em;
    height: auto;
    box-shadow: 0 12px 40px 0 rgba(95,95,95,.5)
}

/* Footer */

footer ul a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

footer ul {
    text-align: center;
}

/* Detailpagina De Movement */

.movement img {
    width: 15em;
    height: auto;
}

.lees-meer-artikelen img {
    width: 20em;
    height: auto;
    border-radius: 1em;

}

.databank img {
    width: 15em;
    height: auto;

}

/* Media queries */
@media only screen and (min-width: 1026px) {
    header {
        padding: 1.5em 5em 0em;
    }

    main {
        padding: 4.5em;
    }

    h1 {
        font-size: 6rem;
        margin: 0;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 1.85rem;
    }

    p {
        font-size: 1.2rem;
    }

    .verspilling {
        display: flex;
        flex-direction: row;
    }

    .verspilling h2 {
        margin-top: 1em;
    }

    .feiten-wrapper {
        display: flex;
    flex-direction: row;

    }

    .artikel-foto {
        display: flex;

    }
    }


