/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}



/* Global styling */
body {
    background-color: #fcf8f2;
    font-family: "Open Sans", "Sans Serif";
}

.container {
    display: block;
    width: 100%;
    margin: auto;
}

ul {
    list-style-type: none;
}

.btn {
    background-color: lightgreen;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
}

h1, h2, h3 {
font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

h1 {
    color: #114d4d;
    font-size: 6rem;
    margin-bottom: 0;
     line-height: 1;
}

h2 {
    color: #114d4d;
       font-size: 4rem;
    line-height: 1;
    margin: 0;
}

h3 {
    color: #49ada1;
    font-size: 1.85rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

p {
    color: #114d4d;
    font-size: 1.2rem;
}

/* Navigatie */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
    width: auto;
}

.navbar ul li {
    display: inline-block;
    padding-left: 20px
}

.navbar ul li a {
font-weight: 900;
    text-transform: uppercase;
    color: #114d4d;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

/* Header */
.header {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px auto 0 auto;
}

.foodbag {
    width: 600px;
    align-self: center;
    margin-top: -50px;
}

.download-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.download-btn img {
    width: 120px;
    margin: 0 10px
}

/* Section Verspilling */
.verspilling {
    display: flex;
    align-items: center;

}

.foodbowl {
    width: 417px;
    height: auto;
    margin-right: 50px;
}

