/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}



/* Global styling */

body {
    background-color: #fcf8f2;
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 1.5em;
}

ul {
    list-style-type: none;
}

.btn-groen {
    background-color: #114d4d;
    border-radius: 120px;
    padding: 15px 40px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0 auto;
    display: block;
    width: fit-content;
}

.btn-groen {
    text-align: center;

}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

h1 {
    color: #114d4d;
    font-size: 3.5rem;
    margin-bottom: 0;
    line-height: 1;
    text-align: center;
}

h2 {
    color: #114d4d;
    font-size: 2.25rem;
    line-height: 1;
    margin: 0;
}

h3 {
    color: #49ada1;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}


h4 {
    color: #000000;
}

p {
    color: #114d4d;
    font-size: 1rem;
}

header nav ul {
    display: none;
}

.dikgedrukt {
    font-family: 'Poppins';
    color: #114d4d;
    font-size: 1.15rem;
    font-weight: 500;

}

.cijfers {
    color: #49ada1;
    font-size: 2.25rem;

}

/* Navigatie */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5em;

}

.logo img {
    width: auto;
    height: 2.8em;
}

.hamburger-menu img {
    width: auto;
    height: 1.7em;
}

header ul li {
    display: inline-block;
    padding-left: 20px
}

header ul li a {
    font-weight: 900;
    text-transform: uppercase;
    color: #114d4d;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

.red-eten-foto {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.download-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.download-btn img {
    width: 120px;
    margin: 1.5em 0.1em;
    width: 7em;
    align-self: center;
}

/* Section Verspilling */

.verspilling {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.verspilling img {
    width: 25em;
    height: auto;
    padding: 2em;

}

.verspilling h2 {
    text-align: center;
    margin-bottom: 1.5em;


}

/* Feiten */

.feiten-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feiten-wrapper h2 {
    text-align: center;
    margin-top: 1em;
}

.feiten-wrapper p {
    text-align: center;
    margin: 0 2em;

}

/* Artikels */

.artikelen {
    margin: 50px 0;
}

.artikelen h2 {
    font-size: 1.9rem;
    margin-top: 20px;
}

.artikelen h3 {
    font-size: 1.25rem;
}

.artikel-foto {
    border-radius: 1em;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: 0 12px 40px 0 rgba(95, 95, 95, .5);
}

/* Footer */

footer ul a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

footer ul {
    padding-left: 0;
    text-align: center;
}

footer h4 {
    text-align: center;
}

/* Detailpagina De Movement */

.movement img {
    width: 15em;
    height: auto;
}

.lees-meer-artikelen img {
    width: 100%;
    height: auto;
    border-radius: 1em;
}

.databank img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 720px) {}

@media only screen and (min-width: 960px) {
    .hamburger-menu {
        display: none;
    }
    header {
        margin: 0 auto;
        display: block;
        padding: 0 3em;
    }
    header nav ul {
        display: unset;
    }

    .red-eten-foto {
        width: 22em;
    }
    .artikelen {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .artikelen:last-of-type {
        flex-direction: row-reverse;
    }

    .artikel-foto {
        width: auto;
        height: 500px;
        object-fit: cover;
    }

    .artikelen section {
        padding-left: 50px;
    }
    .artikelen:last-of-type section {
        padding-right: 50px;
        padding-left: 0;
    }

    .lees-meer-artikelen img {
        width: 20em;
    }

    .databank img {
        width: 15em;
    }
}

/* Media queries */

@media only screen and (min-width: 1140px) {
    main {
        padding: 4.5em;
    }

    h1 {
        font-size: 6rem;
        margin: 0;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 1.85rem;
    }

    p {
        font-size: 1.2rem;
    }

    .verspilling {
        display: flex;
        flex-direction: row;
    }

    .verspilling h2 {
        margin-top: 1em;
    }

    .feiten-wrapper {
        display: flex;
        flex-direction: row;
    }
}
